{deps, [
    {jsx, "3.1.0"},
    {gun, "2.1.0"},
    {docker, {git, "https://github.com/ates/docker.git", {tag, "v0.0.9"}}}
]}.

{shell, [
    {apps, [osn]},
    {config, "config/sys.config"}
]}.

{relx, [
    {release, {osn, semver}, [osn]},
    {mode, prod},

    {extended_start_script, true},

    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"},
    {overlay, [
        {copy, "upgrade.sh", "bin/"}
    ]}
]}.

{xref_checks,[
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{provider_hooks, [
    {post, [
        {compile, xref}
    ]}
]}.
